<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ppit.issmenueplus" version="1.9.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ISS Menü+</name>
    <description>
        PAIR Solutions GmbH © 2013 - 2019
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PAIR Solutions GmbH © 2013-2019
    </author>
    <content src="index.html" />
    <access origin="https://m.people-projects-it.com" />
    <access origin="https://m.pairsolutions.de" />
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="splashscreen" value="splash" />
    <preference name="SplashShowOnlyFirstTime" value="false"/>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="29" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.6" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.3.3" />
    <plugin name="cordova-plugin-whitelist" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/xxxhdpi.png" />
        <splash density="land-ldpi" src="www/res/screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="www/res/screen/android/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="www/res/screen/android/splash-land-hdpi.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/splash-land-xxxhdpi.png" />
        <splash density="port-ldpi" src="www/res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="www/res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="www/res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/icon-small@3x.png" width="87" />
        <splash height="1136" platform="ios" src="www/res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" platform="ios" src="www/res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" platform="ios" src="www/res/screen/ios/Default-736h.png" width="1242" />
        <splash height="1242" platform="ios" src="www/res/screen/ios/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" platform="ios" src="www/res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" platform="ios" src="www/res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" platform="ios" src="www/res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" platform="ios" src="www/res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" platform="ios" src="www/res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" platform="ios" src="www/res/screen/ios/Default~iphone.png" width="320" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~7.1.4" />
</widget>
