<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id = "com.ppit.issmenueplus"
        version = "1.9.1"
        versionCode="473">
	<name>ISS Menü+</name>
	<description>
	    PAIR Solutions GmbH © 2013 - 2016
	</description>
	<author href="http://pairsolutions.de" email="produktentwicklung@pairsolutions.de">
	    Aleksei Podgaev @ PAIR Solutions GmbH © 2013-2016
	</author>
	<gap:platform name="android" />
	<icon src="icon.png" />
	<icon src="assets/android/icon-mdpi48.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="assets/icon-72.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="assets/android/icon-xhdpi96.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="assets/ios/icon-ios144.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="assets/android/icon-xxxhdpi192.png" gap:platform="android" gap:qualifier="xxxhdpi" />
	<gap:splash src="splash.png" />
	<gap:splash src="assets/android/launchscreen-xhdpi.9.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="assets/android/launchscreen-hdpi.9.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="assets/android/launchscreen-mdpi.9.png" gap:platform="android" gap:qualifier="mdpi" />
	<preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="android-installLocation" value="auto" />
	<plugin name="org.apache.cordova.device" spec="0.2.12" source="pgb" />
	<plugin name="org.apache.cordova.file" spec="1.3.1" source="pgb" />
	<plugin name="cordova-plugin-whitelist" />
	<!-- <gap:plugin name="org.apache.cordova.Storage" /> -->
	<!-- <plugin name="Camera" value="org.apache.cordova.CameraLauncher" /> -->
	<preference name="permissions" value="none"/>
	<!-- <feature name="http://api.phonegap.com/1.0/camera"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/file"/> -->
	<access origin="https://m.people-projects-it.com" />
	<access origin="https://m.pairsolutions.de" />
</widget>