<div data-role="page" data-theme="g" data-title="Anmelden" id="login"
	ng-controller="AuthCtrl">

	<div data-role="header" data-position="fixed" data-theme="f">
		<h1 ng-click="titleClick()">ISS Menü+</h1>
	</div>
	<!-- /header -->

	<div class="jqmpage" data-role="content">
	<br/>
		<label>Teilnehmer-Nr. <input id="usernameInput" type="text"
			placeholder="Username" ng-model="user.username"></label> <label>Passwort
			<input id="passwordInput" type="password" placeholder="Password"
			ng-model="user.password">
		</label> <label><input type=checkbox ng-model="remember">Angemeldet
			bleiben</label>
		<div class="ui-grid-solo">
			<div class="ui-block-a" align="center">
				<img id="logo" alt="Logo" src="" ng-src="{{logoSrc}}">
			</div>
		</div>
	</div>
	<!-- /content -->
	<div data-role="footer" data-position="fixed" data-theme="d">
		<fieldset class="ui-grid-solo">
			<div class="ui-block-a">
				<button ng-click="login()" data-icon="check" data-theme="g">Anmelden</button>
			</div>
		</fieldset>
	</div>
	<!-- /footer -->
</div>
<!-- /page -->