<div data-role="page" data-theme="d" data-title="Vertretungsplan" id="vertretungsplan" ng-controller="VertretungsplanCtrl">
	<div data-role="header" data-position="fixed" data-theme="a">
		<div data-role="navbar" class="nav-glyphs">
			<ul>
				<li><a href="#" id="startBtn" ng-click="start()" data-icon="custom">Start...</a></li>
			</ul>
		</div>
	</div>
	<!-- /header -->
	<div class="jqmpage" data-role="content">
		<ul data-role="listview" data-theme="d" data-divider-theme="e"  data-count-theme="e" ng-repeat="item in vertretungen">
			<li data-role="list-divider">
				<h1>{{item.datum | date:'EEE dd.MM - HH:mm'}} Uhr<br/>{{item.bemerkung}}</h1>
			</li>
			<li class="status-list-item">
				<span class="list-item-description" ng-class="item.statusClass">
					<img ng-show="item.statusImg" ng-src="{{item.statusImg}}">
					<div ng-show="item.statusTitle" class="status" ng-class="item.statusClass"><div class="status-label"><span>{{item.statusTitle}}</span></div></div>
					<p ng-show="item.stunde" class="termine time"><strong>Stunde:</strong> {{item.stunde}}</p>
					<p ng-show="item.lehrer" class="termine person"><strong>Lehrer:</strong> {{item.lehrer}}</p>
					<p ng-show="item.raum_neu" class="termine location"><strong>Raum alt:</strong> {{item.raum_alt}} <strong>Raum neu:</strong> {{item.raum_neu}}</p>
				</span>
			</li>
		</ul>
		<ul data-role="listview" data-theme="d" data-divider-theme="e"  data-count-theme="e" ng-show="isLoaded && vertretungen.length == 0" style="display: none;">
			<li data-role="list-divider">Alle Ihre Stunden und Veranstaltungen finden wie geplant statt.</li>
		</ul>
		<ul data-role="listview" data-theme="d" data-divider-theme="e"  data-count-theme="e" ng-hide="isLoaded">
			<li data-role="list-divider">&nbsp;</li>
		</ul>
	</div>
	<!-- /content -->
	<div data-role="footer" data-id="vertretungsplanFooter" data-position="fixed"
		data-theme="c">
		<div data-role="navbar" class="nav-glyphs">
			<ul>
				<li><a href="#" id="prev"
					ng-click="back()" data-icon="arrow-l">Zurück</a></li>
			</ul>
		</div>
	</div>
	<!-- /footer -->
</div>
<!-- /page -->